* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #793888;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 350px;
  height: 600px;
  border: 5px solid white;
  border-radius: 25px;
  margin: 5px 0;
}

.display-container {
  background-color: #2b2e37;
  flex-basis: 40%;
  color: rgb(184, 184, 184);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-right: 5%;
  padding-bottom: 10%;
}
.operation-container {
  font-size: 1.2rem;
}
.result-container {
  font-size: 3.5rem;
}
.buttons-container {
  background-color: #394050;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: rgb(155, 155, 155);
  width: 83px;
  height: 68px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: rgba(240, 234, 234, 0.8);
}

.larger-btn {
  height: 139px;
  border-bottom-right-radius: 15px;
}

.left-bottom-btn {
  border-bottom-left-radius: 10px;
}

.colored-btn {
  background-color: #b67cc4;
  color: whitesmoke;
}
.colored-btn:hover {
  background-color: rgb(182, 124, 196, 0.8);
}

.colored-text {
  color: #b67cc4;
}
.left-box {
  text-align: center;
}
